*{
    box-shadow: inset 0 0 1px rgba(255, 0, 0, 2);
}
.navigation{
    background-color: rgb(154, 171, 194);
    color: black;
}

.footer{
    background-color: rgb(60, 74, 82);
    color: white;
}

.nav-item{
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

.nav-item:hover{
    text-decoration: underline;
    color: white;
}

.bottonSpace{
    margin-bottom: 80px;
}